numpy
pandas
matplotlib
azure-ai-inference
openai
langchain
langchain_community
langchain_openai
eventlet
flask
seaborn
openpyxl
Flask-SocketIO
flask-cors
dotenv
scipy
tqdm
xgboost
LinearRegression
statsmodels
prophet
pmdarima
scikit-learn
azure-storage-blob
psycopg2-binary
plotly
xlrd
odfpy
pyxlsb
flask-mail
playwright